[submodule "lib/kiwi"]
	path = lib/kiwi
	url = https://github.com/Geemili/kiwi.git
[submodule "lib/libpd"]
	path = lib/libpd
	url = https://github.com/libpd/libpd.git
[submodule "lib/pd-cyclone"]
	path = lib/pd-cyclone
	url = https://github.com/porres/pd-cyclone.git
